#cards-panel {
  max-width: 80rem;
  margin: auto;
  overflow: hidden;
}

.card {
  width: 20%;
  height: 20%;
}

.disabled {
  opacity: 0.5;
}

img {
  max-width: 15rem;
  max-height: 15rem;
  overflow: hidden;
}
