.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 350px 30px;
}

header {
    grid-column: span 12;
}
aside {
    grid-column: span 2;
}
main {
    grid-column: span 10;
    display: flex
}
footer {
    grid-column: span 12;
}

div {
  width: 30%;
  padding-bottom:30%;
}

.square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.same-size {
  width: 200px;
  height: 200px

}
