.game-container-outer {
  max-width: 70rem;
  height: 0;
  margin: auto;
  margin-left: 17%;
  padding-top: 100%;
  position: relative;
}

.game-container-inner {
  padding: 1rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  perspective: 1000px;
}

.easy {
  column-count: 4;
}

.medium {
  column-count: 5;
}

.hard {
  column-count: 7;
}

.superhard {
  column-count: 9;
}

.card-container {
  height: 0;
  padding-bottom: 85%;
  margin-bottom: 10%;
  position: relative;
}

#card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card img {
  margin: 0;
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #f9f9fa;
  border-radius: 1rem;
}

#card .back {
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}


#card .disabled {
  opacity: 0.5;
  border: 2px solid #68c7c1;
}

.win-container {
  position: absolute;
  top: 0;
  margin-left: 29%;
  padding-top: 17%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.win-content {
  padding: 1rem 0;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
