.intro-outer {
  background-color: #4c4c4c;
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0
}


.intro-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: auto;
}

.intro-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.intro-content h1 {
  font-family: fantasy;
  color: #eceeef;
  text-shadow: 0px 0px 300px #000
  /* !!!!!!!!!!CHANGE!!!!!!!!!! */
}

.intro-content img {
  border: 2px solid #eceeef;
  border-radius: 2rem;
  margin: 10%;
}
